/* nav css */
body {
    font-family: 'open sans';
}

.header {
    background-color: #f8f0f0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.text-primary {
    color: orange;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


.btn-primary {
    color: #fff;
    border-radius: 5px;
    background-color: orange;
    border: 0;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;

}
.banner-greeting{
    font-size: 25px;
    margin: 5px 0px;
    font-weight: bolder;

}

.banner-title{
    font-size: 55px;
    margin: 5px 0px;
}


.banner .profile-picture {
    width: 500px;
}

/* main seciton  */

main{
    max-width: 1000px;
    margin: 0 auto;
}

/* about section  */
.about-section{
    padding: 60px;
    background-color: #f8e8e8;
    margin: 50px 0;
    border-radius: 10px;
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
.about-section>h3{
    font-size: 48px;
    color: #000;
}
/* What I do section  */
.What-I-Do-section{
    padding: 60px;
    background-color: #f8e8e8;
    margin: 50px 0;
    border-radius: 10px;
    text-align: center;
}
.White-I-Do-info{
    text-align: left;
    padding: 15px;
}

.White-I-Do-info-container{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 10px;
    margin-top: 50px;
}
.What-I-Do-section>h3{
    font-size: 48px;
    color: #000;
}

/* resume section  */

.resume-section{
    background-color: #f8f0f0;
    align-items: center;
    padding: 20px 10px
}
.resume-description{
    display: flex;
    justify-content: space-between;
;
}
.resume-title{
    font-size: 30px;
    text-align: center;
}
.education-area{
    margin: 20px;
}
.experience-area{
    margin: 20px;
}
