/* nav css */
body{
    font-family: 'open sans';
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-primary{
    color: red;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}


.btn-primary{
    color:#fff;
    border-radius:5px ;
    background-color: orange;
    border:0;
    padding:10px ;
    font-weight: 700;
    font-size: 20px;
    
}